@use 'mixins' as *;
.header {
    align-items: center;
    line-height: 1.7;
    margin-bottom: 1.5625rem;

    @include breakpoint(medium) {
        margin-bottom: 2.1875rem;
    }
    

    &__title {
        font-size: var(--fs-large);
        text-transform: uppercase;
        color: var(--White);
        letter-spacing: .5rem;
        

        @include breakpoint(medium) {
            font-size: var(--fs-xlarge);
            letter-spacing: 1rem;
        }
    }

    &__toggle {
        height: 1.375rem;
        width: 1.375rem;
        

        @include breakpoint(medium) {
            height: 1.75rem;
            width: 1.75rem;
        }
    }

    //only for layout rn - move to a different partial later
    .themeButton {
        background-image: url(/images/icon-moon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

}