:root {
    //font
    --ff:'Josefin Sans', sans-serif;
    --fs-body: 1.125rem;
    --fw-reg:400;
    --fw-bold:700;
}

//finish variables
//look at designs and what needs to be done
//html markup - write for desktop but css mobile first
//accessibility of to-do lists 
//light/dark mode toggle
//
//do a google calendar of things we have done and keep at it
